@import url(reset.css);

@import url(fonts.css);

h1 {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 3px 3px 3px grey;
}

.advantages{
	background-color: #231F8B;
	font-family: "Montserrat", sans-serif;
	padding: 50px 0px;
	font-size: 14px;
}

.advantage-conteiner {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0px 15px;
}

.advantage-block {
	color: #FFF;
	margin-bottom: 70px;
	font-weight: 500;
}

.lable-text{
	margin-bottom: 10px;
	color: #5A54F2;
	font-weight: 700;
	line-height: 1.7;
}

.advantage-title {
	font-size: 36px;
   font-weight: 700;
	margin-bottom: 10px;
}

.advantage-text p {
	font-family: "Circular Std";
	letter-spacing: 0.2px;
	line-height: 1.4;
}

.advantages-cards {
	font-size: 0;
}

.card-inside {
	margin: 0px -20px;
}

.card {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	padding: 0px 20px;
	max-width: 270px;
	width: 100%;
}

.card-content {
	padding: 35px 40px;
	background-color: #FFF;
}

.card-image {
	margin-bottom: 20px;
	/* min-width: 72px;
	width: 100%; */
}

.card-title {
	color: #252B42;
	font-size: 16px;
	font-family: "Circular Std", sans-serif;
	line-height: 1.5;
	font-weight: 700;
	letter-spacing: 0.1px;
	margin-bottom: 20px;
}

.decor {
	background-color: #e74040;
	width: 50px;
	height: 2px;
	margin-bottom: 20px;
}

.card-text {
	color: #737373;
	line-height: 1.4;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.card-dark {
	background-color: #5A54F2;
}

.card-dark * {
	color: #FFF;
}

.card-top {
	margin-top: 48px;
}

.dont-touch {
	font-weight: 900;
	color: red;
	letter-spacing: 5px;
	text-transform: uppercase;
}
