@font-face {
	font-family: "Bebas Neue";
	src: url(../font/BebasNeue-Light.woff2) format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bebas Neue";
	src: url(../font//BebasNeueBold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bebas Neue";
	src: url(../font/BebasNeueRegular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DeutschGothic';
	src: url(../font/DeutschGothic.woff2) format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Acadian";
	src: url(../font/Acadian.woff2) format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}